.type-7028 .banner .team-member {
  padding: 0 !important;
  margin: 0px 0px 20px 0px;
  border-radius: 6px;
  overflow: hidden;
  border: solid 1px #EDEDED;
  transition: all .3s ease;
  z-index: 1;
  position: relative;
}
.type-7028 .banner .team-member .thumbnail {
  overflow: hidden;
  background: #000000;
  position: relative;
}
.type-7028 .banner .team-member img {
  transition: opacity 0.40s, transform 0.60s;
  transform: scale(1.10);
}
.type-7028 .banner .team-member:hover img {
  opacity: 0.6;
  transform: scale(1.0);
}
.type-7028 .banner .boxed-layout img {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  height: auto;
}
.type-7028 .banner .fa {
  position: relative;
  top: -6px;
  margin-left: -6px;
}
.type-7028 .banner a {
  text-decoration: none;
  color: #000000;
  transition: color .3s;
}
.type-7028 .banner img {
  margin: 0px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type-7028 .banner share-icons:hover {
  transition: color .3s ease;
}
.type-7028 .banner h6 {
  color: #000000;
  padding: 0;
  border: 0;
  font: normal 11px/12px Varela Round;
  vertical-align: baseline;
}
.type-7028 .banner .team-member .team-member-info h6 {
  margin: 0px;
  padding-bottom: 10px;
  font-size: 11px;
  opacity: 0.7;
}
.type-7028 .banner .grid-1-1 {
  width: 100%;
}
.type-7028 .banner p {
  vertical-align: baseline;
  padding: 0;
  border: 0;
  font: normal 16px/24px Varela Round;
  margin: 1em 0;
  color: #2c2c2c;
}
.type-7028 .banner .team-member .share-icons {
  position: absolute;
  left: 0;
  top: auto;
  height: auto;
  width: 100%;
  padding: 0px;
  text-align: center;
  opacity: 0;
  background: none;
  min-height: 60px;
  bottom: 25%;
  transition: opacity .3s, bottom .3s;
  display: block;
  margin: 10px 5px 0px 5px;
}
.type-7028 .banner div {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type-7028 .banner a .icon.shortcode.use-hover {
  transition: all .3s ease-out;
  border-radius: 20em;
  line-height: 1em;
}
.type-7028 .banner .team-member:hover .share-icons {
  opacity: 1;
  bottom: 35%;
  white-space: normal;
}
.type-7028 .banner .team-member:hover .share-icons .icon {
  margin: 10px 5px 0px 5px;
}
.type-7028 .banner .icon {
  font-family: 'icomoon' !important;
  font-weight: normal !important;
  font-style: normal !important;
  display: inline-block;
  min-width: 1em;
  -webkit-font-smoothing: antialiased;
}
.type-7028 .banner span {
  font: inherit;
  vertical-align: baseline;
}
.type-7028 .banner .team-member .share-icons a {
  display: inline-block;
}
.type-7028 .banner a:visited {
  color: #000000;
}
.type-7028 .banner a:hover {
  text-decoration: none;
  color: #cb7152;
}
.type-7028 .banner .team-member .team-member-info {
  background: #ffffff;
  margin-top: 0px;
  padding: 15px 20px 20px 20px;
}
.type-7028 .banner .team-member .team-member-info h4 a {
  font-size: 24px;
  display: block;
}
.type-7028 .banner .team-member .team-member-info h6 {
  margin: 0px;
  padding-bottom: 10px;
  font-size: 11px;
  opacity: 0.7;
}
.type-7028 .banner .team-member .team-member-info h6:after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  margin: 15px 0px 5px 0px;
  transition: all .6s;
  opacity: 1;
  background: #cb7152;
}
.type-7028 .banner html.touchevents .team-member,
.type-7028 .banner .team-member:hover {
  box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1);
}
.type-7028 .banner .team-member .share-icons .icon {
  margin: 0px 5px 0px 5px;
  width: 16px;
  height: 16px;
  color: #ffffff;
  text-align: center;
  font-size: 16px !important;
  line-height: 1;
  display: inline-block;
  padding: 16px !important;
  border-radius: 100%;
  border: solid 1px rgba(255,255,255,0.5);
  background: transparent;
}
.type-7028 .banner .team-member .share-icons a:hover .icon.shortcode.use-hover {
  background: #ffffff;
  color: #cb7152 !important;
}
