.m4 .module-4_1 .lavender-grid {
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  width: 100%;
}
.m4 .module-4_1 .lavender-grid .menu-center {
  position: relative;
  margin: 30px 0 30px 0;
  text-align: center;
}
.m4 .module-4_1 .lavender-grid .menu-center .sep-before {
  width: 50%;
  font-size: 10px;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  padding-top: 24px;
}
.m4 .module-4_1 .lavender-grid .menu-center:last-child {
  margin-bottom: 20px;
}
.m4 .module-4_1 .lavender-grid .sep-line {
  display: inline-block;
  width: 30%;
  border-top: 0 solid;
  border-bottom: 1px solid;
  color: #EDEDED;
  vertical-align: baseline;
}
.m4 .module-4_1 .lavender-grid .sep-after {
  width: 50%;
  font-size: 10px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding-top: 24px;
}
.m4 .module-4_1 .content {
  padding-right: .7em;
  padding-left: .7em;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
.m4 .module-4_1 .content .text-divider-double {
  position: relative;
  letter-spacing: 2px;
  color: #000000;
  font-size: 56px;
  font-family: Libre Baskerville;
}
.m4 .module-4_1 .content .text-divider-subtitle {
  color: #cb7152;
  font-family: 'Handlee';
  font-size: 1em;
  letter-spacing: 0.3em;
  vertical-align: baseline;
  font-size: 16px;
}
.m4 .module-4_1 .content .text-divider-subtitle:before,
.m4 .module-4_1 .content .text-divider-subtitle:after {
  display: inline-block;
  max-width: auto;
  height: 15px;
  content: "~";
  font-size: 1.2em;
  padding: 0px 5px;
}
.m4 .m4_2 {
  margin-top: 60px;
}
.m4 .m4_2 .content1 {
  width: 20%;
}
.m4 .m4_2 .content1 .m4-limit .m4-limit-thumbnail .has-border

            img {
  max-width: 100%;
  transition: border-radius 0.4s ease;
  border-radius: 10em;
}
.m4 .m4_2 .content1 .m4-limit-services-title {
  text-align: center;
}
.m4 .m4_2 .content1 .m4-limit-services-title a {
  text-decoration: none;
  color: black;
  font: normal 24px/32px Libre Baskerville;
  transition: all 0.2s;
  outline: none;
}
.m4 .m4_2 .content1 .m4-limit-services-title a:hover {
  color: #cb7152;
}
.m4 .m4_2 .content1 .m4-services-content {
  text-align: center;
}
@media (max-width: 479px) {
  .m4 .module-4_1 .menu-center .content .text-divider-double {
    font: normal 30px Libre Baskerville;
    font-size: 40px;
    margin: 0 auto;
  }
  .m4 .module-4_1 .menu-center .content .text-divider-subtitle {
    margin-top: -15px;
    font-size: 17px;
    text-align: center;
  }
}
