.module-9 h4 {
  font: normal 24px/32px Libre Baskerville;
}
.module-9 p {
  margin: 1em 0;
}
.module-9 a {
  text-decoration: none;
}
.module-9 table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
}
.module-9 .blank-space {
  height: 60px;
  display: block;
}
.module-9 .row {
  margin-left: 5px;
  margin-right: 5px;
  clear: both;
}
.module-9 .row .googlemap {
  width: 100%;
  padding-top: 0.05px;
  padding-bottom: 0.05px;
}
.module-9 .row .googlemap iframe {
  height: 450px;
  width: 100%;
  display: block;
  margin-right: 0;
  border: 0;
}
.module-9 .wapper {
  z-index: 555;
  display: block;
  float: none;
  margin: auto;
  max-width: 1260px;
  width: auto;
}
.module-9 .wapper .row {
  padding-top: 60px;
  margin-left: -25px;
  margin-right: -25px;
  clear: both;
}
.module-9 .wapper .row .main {
  background-color: ;
  padding-top: 0.05px;
  padding-bottom: 0.05px;
}
.module-9 .wapper .row .main .grid1-5,
.module-9 .wapper .row .main .grid2-5 {
  position: relative;
  float: left;
  box-sizing: border-box;
  display: block;
  padding: 0 25px;
}
.module-9 .wapper .row .main .grid2-5 {
  padding-top: 25px;
  padding-bottom: 0.05px;
  width: 40%;
  text-align: center;
}
.module-9 .wapper .row .main .grid2-5 .spacespane {
  height: 30px;
  display: block;
}
.module-9 .wapper .row .main .grid2-5 h4 {
  font: normal 24px/32px Libre Baskerville;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.module-9 .wapper .row .main .grid2-5 .timetable {
  width: 100%;
  margin-bottom: 30px;
}
.module-9 .wapper .row .main .grid2-5 .timetable tbody {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.module-9 .wapper .row .main .grid2-5 .timetable tr td {
  position: relative;
  padding-bottom: 10px;
  font: normal 16px/32px Varela Round;
  padding: 8px 0px 8px 0;
}
.module-9 .wapper .row .main .grid2-5 .timetable tr td:last-child {
  text-align: right;
}
.module-9 .wapper .row .main .grid2-5 .timetable tr td:after {
  display: block;
  line-height: 1em;
  font-size: 0.4em;
  letter-spacing: 4px;
  color: #6b6b6b;
  content: "...................................................................................................................................................................................................................................................";
  width: 100%;
  overflow: hidden;
  height: 5px;
  bottom: 5px;
  left: 0px;
  position: absolute;
}
.module-9 .wapper .row .main .grid1-5 {
  background-color: #23282F;
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  width: 20%;
  position: relative;
  float: left;
  box-sizing: border-box;
  display: block;
  padding: 0 25px;
}
.module-9 .wapper .row .main .grid1-5 p {
  font: normal 16px/32px Varela Round;
}
.module-9 .wapper .row .main .grid1-5 .blank-space1 {
  margin-bottom: -20px;
  display: block;
}
.module-9 .wapper .row .main .grid1-5 .row {
  margin-left: -25px;
  margin-right: -25px;
  clear: both;
}
.module-9 .wapper .row .main .grid1-5 .grid1 {
  color: #f5f5f5;
  padding-bottom: 30px;
  width: 100%;
}
.module-9 .wapper .row .main .grid1-5 .grid1 .grid1-1 {
  text-align: center;
}
.module-9 .wapper .row .main .grid1-5 .grid1 .grid1-1 .button {
  border: 1px solid #cb7152;
  font-style: normal;
  overflow: hidden;
  transition: color .3s ease-out, border .3s ease-out, background .3s ease-out !important;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-radius: 10em;
  font: normal 13px/1em "Varela Round";
}
.module-9 .wapper .row .main .grid1-5 .grid1 .grid1-1 .button .text-button {
  color: #fff;
  position: relative;
  font-weight: 500;
  padding: 1em 2em;
  display: inline-block;
  font-size: 1em;
  line-height: inherit;
  margin: 0 0;
  vertical-align: middle !important;
}
.module-9 .wapper .row .main .grid1-5 .grid1 .grid1-1 .button::after {
  background: #cb7152;
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-out !important;
}
.module-9 .wapper .row .main .grid1-5 .grid1 .grid1-1 .button:hover::after {
  height: 100%;
}
.module-9 .wapper .row .main .grid1-5 .grid1 .grid1-1 .button:hover {
  border-color: #cb7152;
}
.module-9 .wapper .row .main .grid1-5 .grid1 .grid1-1 .button:hover span {
  font-size: 1em;
  line-height: inherit;
  text-decoration: none;
  margin: 0 0;
  vertical-align: middle !important;
}
.module-9 .wapper .row .main .grid1-5 .grid1 .grid1-1 .button:hover span .text-button {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-out !important;
  transform: translateY(-100%);
  font-weight: 500;
  padding: 1em 2em;
}
.module-9 .wapper .row .main .grid1-5 .grid1 .grid1-1 .button:hover span .text-button:before {
  color: #fff;
  background: #cb7152;
  position: absolute;
  content: attr(data-text);
  transform: translate3d(0,0,0);
  top: 100%;
  left: 0px;
  width: 100%;
  height: auto;
  padding: 1em 0;
}
.module-9 .wapper .row .main .lastgrid p {
  text-align: center;
}
.module-9 .wapper .row .main .lastgrid .email {
  font: normal 16px/24px Varela Round;
}
.module-9 .wapper .row .main .lastgrid a {
  text-decoration: none;
  color: #000000;
  transition: color .3s;
}
.module-9 .wapper .row .main .lastgrid a:hover {
  text-decoration: none;
  color: #cb7152;
  outline: none;
}
.module-9 .wapper .row .main .lastgrid span {
  font-size: 20px !important;
  padding: 0.4em;
  border-radius: 20em;
  line-height: 1em;
  display: inline-block;
  min-width: 1em;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  border: 0;
  margin: 0;
}
.module-9 .wapper .row::before,
.module-9 .wapper row::after {
  content: " ";
  display: table;
}
.module-9 .space {
  margin-bottom: -80px;
  display: block;
}
@media (max-width: 956px) {
  .module-9 .wapper .row .main .grid1-5,
  .module-9 .wapper .row .main .grid2-5 {
    width: 100%;
  }
}
