.type-7040 {
  background: #F6F6F6;
}
.type-7040 .SoftDrinks {
  background-color: #ffffff;
  padding: 30px 55px 40px;
  min-height: 680px;
  border-radius: 20px;
  z-index: 10;
  position: relative;
}
.type-7040 .SoftDrinks .sep-text {
  position: relative;
  margin: 30px 0;
  text-align: center;
}
.type-7040 .SoftDrinks .sep-text .centered .sep-text-before {
  width: 50%;
  font-size: 10px;
}
.type-7040 .SoftDrinks .sep-text .centered .sep-text-after {
  text-align: left;
  width: 50%;
  font-size: 10px;
}
.type-7040 .SoftDrinks .sep-text .sep-text-before {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: right;
}
.type-7040 .SoftDrinks .sep-text .content {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
.type-7040 .SoftDrinks .sep-text .content h3 {
  margin: 0;
  font-size: 23px;
  font: normal 40px/50px Libre Baskerville;
}
.type-7040 .SoftDrinks .sep-text .sep-text-line {
  display: inline-block;
  width: 30%;
  border-top: 0 solid;
  border-bottom: 1px solid;
  color: #ededed;
  vertical-align: baseline;
}
.type-7040 .SoftDrinks .sep-text .centered .sep-text-after {
  width: 50%;
  font-size: 10px;
  text-align: left;
}
.type-7040 .SoftDrinks .sep-text .sep-text-after {
  text-align: left;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.type-7040 .SoftDrinks .sep-text .text-drink {
  color: #cb7152;
  font-family: handlee;
  font-size: 1em;
  letter-spacing: .3em;
}
.type-7040 .SoftDrinks .sep-text .text-drink:before {
  display: inline-block;
  width: auto;
  height: 15px;
  content: "~";
  font-size: 1.2em;
  padding: 0 5px;
}
.type-7040 .SoftDrinks .sep-text .text-drink:after {
  display: inline-block;
  width: auto;
  height: 15px;
  content: "~";
  font-size: 1.2em;
  padding: 0 5px;
}
.type-7040 .SoftDrinks .img-drinks img {
  width: 100%;
}
.type-7040 .SoftDrinks .menu-coffe h3 {
  font-size: 16px;
  padding-bottom: 12px;
  position: relative;
  font-family: Varela Round;
  margin-bottom: 2px;
  transition: all .3s;
}
.type-7040 .SoftDrinks .menu-coffe h3:before {
  display: block;
  line-height: 1em;
  font-size: .4em;
  letter-spacing: 4px;
  color: #6b6b6b;
  content: "...................................................................................................................................................................................................................................................";
  width: 100%;
  overflow: hidden;
  height: 10px;
  bottom: 0;
  position: absolute;
}
.type-7040 .SoftDrinks .menu-coffe .fp_price {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-radius: 25px;
  padding: 0;
  color: #cb7152;
}
.type-7040 .SoftDrinks .menu-coffe .menu_description {
  color: #6b6b6b;
}
.type-7040 .SoftDrinks .menu-coffe:hover h3 {
  color: #cb7152;
}
.type-7040 .contact {
  background: #32363D !important;
  background-color: #ffffff;
  padding: 30px 34px 40px;
  min-height: 680px;
  border-radius: 20px;
}
.type-7040 .contact .txt-contact {
  text-align: center;
  position: relative;
  margin: 30px 0;
}
.type-7040 .contact .txt-contact h3 {
  font: normal 40px/50px Libre Baskerville;
  color: #cb7152;
}
.type-7040 .contact .txt-contact p {
  color: #cb7152;
  font: normal 16px/24px Varela Round;
}
.type-7040 .contact .txt-contact h4 {
  color: #fff;
  font: normal 22px/32px Libre Baskerville;
}
