.type-843 {
  background-color: #262626;
}
.type-843 * {
  word-break: break-word;
}
.type-843 a {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #c5c5c5;
}
.type-843 a:hover {
  color: #fff;
}
.type-843 footer {
  padding: 50px 0;
}
.type-843 footer .logo-footer {
  text-align: center;
}
.type-843 footer .logo-footer .logo {
  padding-bottom: 30px;
  max-width: 230px;
  margin: auto;
}
.type-843 footer .logo-footer .logo img {
  width: 100%;
}
.type-843 footer .logo-footer .address p {
  font-size: 12px;
  color: #c5c5c5;
}
.type-843 footer .logo-footer .link ul {
  list-style: none;
}
.type-843 footer .logo-footer .link ul li {
  display: inline-block;
}
.type-843 footer .logo-footer .link ul li a {
  font-size: 22px;
}
.type-843 footer .columns {
  display: flex;
  padding-top: 8px;
  justify-content: center;
  border-left: 1px solid #3c3c3c;
  margin-bottom: 20px;
  min-height: 234px;
}
.type-843 footer .columns .list .title h6 {
  color: #fff;
  font-weight: bold;
  padding-bottom: 2px;
  font-size: 14px;
}
.type-843 footer .columns .list ul {
  margin: 0;
  list-style: none;
}
.type-843 footer .columns .list ul li {
  line-height: 14px;
}
.type-843 footer .columns:nth-child(2) {
  border: none;
}
.type-843 footer .border-bottom {
  padding: 15px 0 25px;
  position: relative;
  text-align: center;
  z-index: 9;
  border-bottom: 1px solid #262626;
}
.type-843 footer .border-bottom:before {
  border-top: 1px solid #3c3c3c;
  content: "";
  left: 0;
  position: absolute;
  top: 5px;
  width: 100%;
  z-index: 5;
}
.type-843 footer .border-bottom:after {
  background: url(../images/footer-divider.png) no-repeat scroll center top #262626;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 0px;
  width: 31px;
  height: 11px;
  z-index: 9;
}
.type-843 footer .sub-footer {
  text-align: center;
}
.type-843 footer .sub-footer .menu-sub ul {
  list-style: none;
}
.type-843 footer .sub-footer .menu-sub ul li {
  display: inline-block;
}
.type-843 footer .sub-footer .menu-sub ul li a {
  line-height: 10px;
}
.type-843 footer .sub-footer .copy {
  color: #c5c5c5;
  margin-top: 10px;
}
.type-843 footer .sub-footer .link-sub {
  margin-top: 10px;
}
.type-843 footer .sub-footer .link-sub .image img {
  height: 35px;
  opacity: 0.6;
}
.type-843 footer .sub-footer .link-sub .image img:hover {
  opacity: 0.9;
}
@media (max-width: 760px) {
  .type-843 footer .logo-footer {
    margin-bottom: 40px;
  }
  .type-843 footer .columns {
    padding: 15px;
    border-left: none;
    border-top: 1px solid #c5c5c5;
  }
}
