a {
  text-decoration: none !important;
}
.modul-7013 .m7013-tabs-all {
  margin-top: 100px;
  text-align: center;
}
.modul-7013 .m7013-tabs-all .nav-tabs {
  border: none;
  display: inline-block;
  margin-bottom: 20px;
}
.modul-7013 .m7013-tabs-all .nav-tabs li a {
  color: #2c2c2c;
  cursor: auto;
  width: auto;
  transition: all .3s;
  line-height: normal;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 600;
  border: none;
  padding: 0;
  text-align: center;
  font: normal 20px/32px Libre Baskerville;
  padding: 10px 15px;
}
.modul-7013 .m7013-tabs-all .nav-tabs li a:focus {
  border: none;
  outline: none !important;
  outline-offset: inherit;
}
.modul-7013 .m7013-tabs-all .nav-tabs li a:hover {
  border: none !important;
}
.modul-7013 .m7013-tabs-all .nav-tabs li a:after {
  content: " ";
  display: block;
  width: 0%;
  height: 1px;
  background: #cb7152;
  margin: auto;
  margin-top: 5px;
  transition: all .4s;
  opacity: 0;
}
.modul-7013 .m7013-tabs-all .nav-tabs li:hover a {
  border: none;
  background: none;
  color: #cb7152;
}
.modul-7013 .m7013-tabs-all .nav-tabs li:hover a:after {
  width: 40%;
  opacity: 1;
}
.modul-7013 .m7013-tabs-all .nav-tabs li:hover span {
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  opacity: 1;
}
.modul-7013 .m7013-tabs-all .nav-tabs li:focus {
  outline: none !important;
}
.modul-7013 .m7013-tabs-all .nav-tabs .active a:hover {
  border: none !important;
}
.modul-7013 .m7013-tabs-all .nav-tabs .active a:focus {
  border: none !important;
}
.modul-7013 .m7013-tabs-all .nav-tabs .active a:after {
  width: 40%;
  opacity: 1;
}
.modul-7013 .m7013-tabs-all .nav-tabs .active a {
  color: #cb7152;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic {
  margin-top: 20px;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product {
  padding: 0px 0px 20px 0px;
  text-align: center;
  border: solid 1px #EDEDED;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  background: white;
  transition: all .2s ease;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .productimg {
  position: relative;
  display: block;
  max-height: none !important;
  margin-bottom: 0px;
  overflow: hidden;
  transform: translateZ(0);
  border-radius: 6px 6px 0 0;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .productimg img {
  width: 100%;
  display: block;
  border: 0;
  box-shadow: none;
  margin: 0;
  transform: scale(1.1);
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .productimg img:hover {
  transition: transform 0.6s;
  transform: scale(1.0);
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .addtocart:hover {
  opacity: 1;
  color: white;
  text-decoration: none;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .addtocart {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 10em;
  border: none;
  font: normal 13px/1em "Varela Round";
  padding: 1em 2em;
  transition: color .3s ease-out, border .3s ease-out, background .3s ease-out !important;
  background: transparent;
  border: solid 1px #cb7152;
  font-size: 11px;
  padding: 1em 1.9em;
  margin-top: -60px;
  margin-left: -50px;
  background: white;
  border: none !important;
  opacity: 0;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product h5 {
  padding-top: 30px;
  position: relative;
  float: none;
  text-transform: uppercase;
  font-family: 'Libre Baskerville';
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  font-size: 10px;
  letter-spacing: 1px;
  color: #2c2c2c;
  margin-top: 17px;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .tagged {
  margin: 0;
  display: block;
  padding: 0px 5px;
  line-height: 1em;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .tagged a:hover {
  outline: none;
  color: #cb7152;
  opacity: 1;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .tagged a {
  text-transform: uppercase;
  font-size: 10px;
  color: #6b6b6b;
  line-height: 1em;
  font-weight: normal;
  opacity: 0.5;
  transition: all .3s;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .tagged a:after {
  content: "\00B7";
  font-size: 14px;
  color: #6b6b6b;
  padding-left: 5px;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product h3 {
  margin-top: 3px;
  box-shadow: none;
  font-size: 18px;
  color: black;
  padding-bottom: .1em;
  line-height: 1.4em;
  transition: color .3s;
  transition: all .6s;
  font: normal 18px/25px Libre Baskerville;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product h3:hover {
  color: #cb7152;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic .product .price {
  display: block;
  color: black;
  position: relative;
  transform: translateZ(0);
  margin: 0px;
  font: normal 16px/18px Libre Baskerville;
  font-weight: 400;
  font: normal 16px/18px Varela Round;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic:hover span {
  opacity: 1;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic:hover span:before {
  opacity: 1;
  border-left: 0;
  border-right: 0;
  transform: scale(0,1);
  transition: opacity 0.35s, transform 0.35s;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic:hover span:after {
  opacity: 1;
  border-top: 0;
  border-bottom: 0;
  transform: scale(1,0);
  transition: opacity 0.35s, transform 0.35s;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic:hover a:hover {
  color: #cb7152 !important;
  transition: opacity 1s, transform 1s;
}
.modul-7013 .tab-content .tab-pane .tab-content-pic:hover .product:hover {
  box-shadow: 2px 2px 2px 2px #888888;
}
@font-face {
  font-family: Open Sans;
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: bold;
}
@font-face {
  font-family: Libre Baskerville;
  src: url('../fonts/Libre-Baskerville.woff2');
  font-weight: bold;
}
@media (max-width: 768px) and (min-width: 500px) {
  .modul-7013 .tab-content .tab-pane .tab-content-pic .product {
    width: 60%;
    margin: 0 auto;
  }
}
