.type-7027 .vamtam-blank-space {
  height: 60px;
  display: block;
}
.type-7027 .hoangnghiep {
  background-color: #22272d;
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  color: #f4f4f4;
}
.type-7027 .hoangnghiep .limit-wrapper {
  z-index: 555;
  display: block;
  float: none;
  margin: auto;
  max-width: 1260px;
  width: auto;
}
.type-7027 .hoangnghiep .left {
  background: url(../images/chef-dark.jpg) center top / auto no-repeat scroll;
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  min-height: 618px;
  transition: opacity .8s ease-out;
  opacity: 1;
  width: 50%;
}
.type-7027 .hoangnghiep .right {
  text-align: center;
}
.type-7027 .hoangnghiep .right .blank-space {
  height: 70px;
}
.type-7027 .hoangnghiep .right img {
  width: 200px;
  margin: 0 auto;
}
.type-7027 .hoangnghiep .right h2 {
  text-align: center;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font: normal 56px/68px Libre Baskerville;
}
.type-7027 .hoangnghiep .right .font-color {
  color: #cb7152 !important;
  font: normal 14px/22px Handlee;
  letter-spacing: 0.3em;
  margin-bottom: 1.6em;
}
.type-7027 .hoangnghiep .right .font-color:before,
.type-7027 .hoangnghiep .right .font-color:after {
  display: inline-block;
  width: auto;
  height: 15px;
  content: "~";
  font-size: 1.1em;
  padding: 0px 5px;
}
.type-7027 .hoangnghiep .right .font-p {
  font: normal 16px/24px Varela Round;
}
.type-7027 .hoangnghiep .right .size-white {
  width: 110px;
}
.type-7027 .hoangnghiep .blank-space {
  display: block;
  height: 60px;
}
