a .icon.shortcode.use-hover {
  transition: all .3s ease-out;
  padding: 0.3em;
  border-radius: 20em;
  line-height: 1em;
}
a {
  text-decoration: none;
  color: #000000;
  transition: color .3s;
}
a:hover {
  text-decoration: none;
  color: #cb7152;
}
.team-member .share-icons {
  position: absolute;
  left: 0;
  top: auto;
  height: auto;
  width: 100%;
  padding: 0px;
  text-align: center;
  opacity: 0;
  background: none;
  min-height: 60px;
  bottom: 25%;
  transition: opacity .3s, bottom .3s;
  display: block;
  margin: 10px 5px 0px 5px;
}
.team-member .share-icons a {
  display: inline-block;
}
p {
  margin: 3em 0;
}
