<<<<<<< HEAD
//-------------------BEGIN FOOTER--------------------//
@clorxam:#c5c5c5;
=======
@clorbac:#c5c5c5;
@clorwhite: #fff;
@clorxam:#3c3c3c;
@colortrangxam:#262626;
@textalign:center;
@marginleft:80px;
@overflow:hidden;
@positionab:absolute;
@paddingleft:0;
@padingtop:40px;
>>>>>>> e639376691cec4f971d8793f50cd053881797325
.type-843{
    background-color: @colortrangxam;
    overflow: @overflow;
    a{
        list-style:  none;
        //font-family: "Raleway",sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
    }
    a:hover{
        text-decoration: none;
        color: @clorwhite;
    }
    //-------------------Footer----------------------//
    footer{
        overfow: @overflow;
        .logo-footer{
            text-align:@textalign;
            margin-top:  @padingtop;
            margin-bottom: 40px;
    //-------------------Logo------------------------//
            .logo{
                padding-bottom: 30px;
                text-align:center;
               
            }
            .logo img{
               width:90%;
               height:79px;
               
            }
            
    //-------------------Address Container-----------//
            .address{
                p{  
                    font-size: 12px;
                    color: @clorbac;
                    a{
                        color: @clorbac;
                    }
                }
            }
    //-------------------Link Container---------------//
            .link{

                ul li{
                    list-style: none;
                    display: inline-block;

                    a{
                        color: @clorbac;
                        font-size: 22px;
                    }
                    a:hover{
                        color: @clorbac;
                    }


                }
            }
            .link ul,ol{
                padding-left: @paddingleft;
            }
        }
    //-------------------BEGIN COLUMNS ---------------//
        .columns{ 
<<<<<<< HEAD
            margin-top: 30px;
            border-left: 1px solid #3c3c3c;
            box-sizing: border-box;
            float: left;
            min-height: 260px;
            margin-bottom:  40px;
=======
            margin-top: @padingtop;
            border-left: 1px solid @clorxam;
            box-sizing: border-box;
            float:left;
            min-height: 230px;
            margin-bottom: 40px;
>>>>>>> e639376691cec4f971d8793f50cd053881797325
            h6{

                margin-top: 20px;
<<<<<<< HEAD
                color: #fff;
                text-align: center;
=======
                color: @clorwhite;
                margin-left: @marginleft;
>>>>>>> e639376691cec4f971d8793f50cd053881797325
                font-weight: bold;
                padding-bottom: 2px;
                font-size:14px;
            }
    //-------------------List--------------------------//
            .list{
<<<<<<< HEAD
               text-align:center;
                ul{
                    list-style: none;
                    padding-left: 0;
                    margin: 0 auto;
=======
                margin-left: @marginleft;
                ul{
                    list-style: none;
                    padding-left: @paddingleft;
                    malign: 0 auto;
>>>>>>> e639376691cec4f971d8793f50cd053881797325

                    li 
                    {
                        line-height: 14px;
                        a{
                            color:  @clorbac;
                        }
                        a:hover{
                            color:@clorwhite;
                        }
                    }
                }
            }
        }  
    //-------------------Border-bottom--------------------------//   
        .border-bottom{
            padding: 15px 0 25px;
            position: relative;
            text-align: @textalign;
            overflow: hidden;
            clear: both;
            z-index: 9;
            border-bottom: 1px solid @colortrangxam;
        }
        .border-bottom:before{
            border-top: 1px solid @clorxam;
            content: "";
            left: 0;
            position:@positionab;
            top: 5px;
            width: 100%;
            z-index: 5;
        }
        .border-bottom:after{
            background: url(../images/footer-divider.png) no-repeat scroll center top @colortrangxam;
            content: "";
            position:@positionab;
            right: 0;
            left: 0;
            margin: 0 auto;
            top: 0px;
            width: 31px;
            height: 11px;
            z-index: 9;
        }
         //-------------------Sub-footer--------------------------//
        .sub-footer{
            text-align: @textalign;

            .menu-sub{   
                ul{
                    li{

                        list-style: none;
                        display: inline-block;
                        a{
<<<<<<< HEAD
                            color:  @clorxam;
                            line-height: 10px;
                            font-size:14px;
                            padding-left: 15px;
=======
                            color:  @clorbac;
>>>>>>> e639376691cec4f971d8793f50cd053881797325
                        }
                        a:hover{
                            color: @clorwhite;
                        }
                    }
                }
            }
            .copy{
                color:  @clorbac;
                margin-top: 20px;
            }
            .link-sub{
                margin-top: 30px;
                padding-bottom: 40px;
                .image{
                    img{
                        margin: 20px;
                    }
                }
            }
        }
    }
}
<<<<<<< HEAD
@media screen and (min-width: 480px) {
=======

@media screen and (min-width: 479px) {
>>>>>>> e639376691cec4f971d8793f50cd053881797325
    .type-843 footer .logo-footer {

        max-width: 100%;  
        margin-top: 40px;
    }
    .type-843 footer .columns .list ul li a{
        max-width: 25%;       
    }
<<<<<<< HEAD
}
@media only screen and (max-width: 480px) {
     .type-843 footer .logo-footer {

        margin-left:88px;
        text-align:center;
    }
  .type-843 footer .columns
    {
    margin-left:88px;
    border-left:none;
    border-top:1px solid #c5c5c5;
    margin-top:-20px;
    padding-top:15px;
    }
    .type-843 footer .logo-footer .address p
    {
    display: initial;
    }
=======
>>>>>>> e639376691cec4f971d8793f50cd053881797325
}