.modul-7004{
    width: 93%;
    margin: 0 auto;
    .m7007-tabs-all{
        margin-top: 100px;
        text-align:center;
        .nav-tabs{
            border: none;
            display: inline-block;
            margin-bottom:20px;
            li{
                a{
                    color: #2c2c2c;
                    cursor: default;
                    width: auto;     
                    margin: 0 .6em;
                    transition: all .3s;
                    line-height: normal;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 11px;
                    font-weight: 600;
                    border: none;
                    padding: 0;
                    text-align: center;
                }
                a:focus{
                    border: none;
                    outline: none !important;
                    outline-offset: inherit;

                }
                a:hover{
                    border: none !important;
                }
                a:after{
                    content: " ";
                    display: block;
                    width: 0%;
                    height: 1px;
                    background: #cb7152;
                    margin: auto;
                    margin-top: 5px;
                    transition: all .4s;
                    opacity: 0;
                }
            }
            .active{
                a:hover{
                    border: none !important;
                }
                a:focus{
                    border: none !important;
                }
                a:after{
                    width: 40%;
                    opacity: 1;
                }
                a{
                    color: #cb7152;
                }
            }
        }
        .tab-content{
            .tab-pane{
                .tab-content-pic{
                    position: relative;
                    padding:0px;
                    img{
                        transition: all .4s;
                        width: 100%;
                    }  
                }
                .portfolio_details{
                    position: absolute;

                    .title a{
                       
                    }
                    .title a:hover{


                    }
                    h3{
                        margin-top: 100px;
                    }
                }

            }
        }
    }
}
@font-face{
    font-family: Open Sans ;
    src:url('../fonts/OpenSans-Regular.ttf');
    font-weight: bold;
}
@font-face{
    font-family: Libre Baskerville ;
    src:url('../fonts/Libre-Baskerville.woff2');
    font-weight: bold;
}

@media (max-width: 1280px){
    .modul-7004 .m7007-tabs-all .tab-content .tab-pane .tab-content-pic portfolio_details {
        border: none;

    }h3 a{

        border: 1px solid #cb7152;
        padding: 40px;
    }
}


